# Amazon SP-API
LWA_CLIENT_ID=
LWA_CLIENT_SECRET=
REFRESH_TOKEN=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_ROLE_ARN=
MARKETPLACE_ID=A21TJRUUN4KGV

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=